.radix-themes {
  --default-font-family: var(--font-press-start), sans-serif;
  --heading-font-family: var(--font-press-start), sans-serif;
  --font-weight-light: 200;
  --font-weight-regular: 300;
  --font-weight-medium: 600;
  --font-weight-bold: 800;
}